body{
    width:1020px
}

#header{
    background-color: #b2e7ff;
    font-family: tahoma;
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: solid 2px #0ab1ff;
}


#center{
    position:relative;
    display: flex;
}

#left{
    float:left;
    width:250px;
    background-color: #0ab1ff;
    padding: 25px 10px 25px 10px;
    font-family: tahoma;
    font-size: 18px;
    color: black;
}

#left-head{
    font-size:18px;
}

#left > ul {
    position: relative;
    left: -25px
}

#left > ul > li{
    color:white;
}

#left > ul > li > span{
    color:white;
}

#left > ul > li > a{
    text-decoration: none;
    color:white;
    font-size:14px;
    padding-left: 0px;
}

#left > p{
    font-size: 12px;
}

#right{
    float: right;
    width: 710px;
    padding:20px;
    font-family:tahoma;
    background-color: #ededed;
}

#right-head{
    font-size: 24px;
    color:black;
}

#right > p{
    font-size: 14px;
    font-size: tahoma;
    color: #802525;
}

#footer{
    clear:both;
    font-size: 24px;
    font-family: tahoma;
    color: black;
    background-color: #3cff78;
    text-align: center;
    border-bottom: solid 2px #0ab1ff;
    
}

